
body{
/*    background-image: url("https://i.kym-cdn.com/entries/icons/original/000/000/684/d53c91p-a4ed1934-bb45-4aeb-8593-2bb8175041c7.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    background-color: #36393e;
*/
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {

    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    border-top: none;
}

.tab {
    display: flex;
    justify-content: space-evenly;
}

.tablinks {
    flex-grow: 1;
    text-align: center;
}

.db_data{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.db_data thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.db_data th,
.db_data td {
    padding: 12px 15px;
    justify-content: center;
    text-align: center;
}


.db_data tbody tr {
    border-bottom: 1px solid #dddddd;

}

.db_data tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.db_data tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}





.logout {
    background-color: #800020;
    color: white;
    cursor: pointer;
}

.logout:hover {
    background-color: #590015;
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sign-in {
    background-color: #26a660;
    color: white;
    cursor: pointer;
}

.sign-in:hover {
    background-color: #44d585;
}

.make-user {
    background-color: #1a5fb4;
    color: white;
    cursor: pointer;
}

.make-user:hover {
    background-color: #4d91e6;
}

.feilmelding {
    color: red;

}

.log-in-text{
    font-weight: bolder;
    font-size: large;
}

.new-line{
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.fa {
    margin-right: 5px;
}

.button-base {
    font-size: 16px; /* Set the desired font size */
    width: 200px; /* Example fixed width */
    height: 50px; /* Example fixed height */
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 5px; /* Optional spacing between buttons */
    text-align: center;
    vertical-align: middle;
    line-height: 1.5; /* To center the text with the icon */
    border-radius: 15px;
}


.center > div {
    margin-bottom: 10px;
}