
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    width: 100%;
    margin: 0 auto;

    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    border-top: none;
}

.tab {
    display: flex;
    justify-content: space-evenly;
}

.tablinks {
    flex-grow: 1;
    text-align: center;
}

.db_data{
    width: 50%;
    /*
    margin: 0 auto;
    */

    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.logout {
    background-color: #800020;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;

    width: 50%;
    margin: auto;

}

.logout:hover {
    background-color: #590015;
}

.form {
    width: 100%;
    display: flex; /* Make the form itself a flex container */
    flex-direction: column; /* Stack its children (i.e., the button) vertically */
    align-items: center; /* Center its children horizontally */
    /* Optional: add some padding and a max-width if you want */
    padding: 20px;
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sign-in {
    background-color: #26a660;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
}

.sign-in:hover {
    background-color: #44d585;
}